*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
}

/* header section */
header {
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

/* header left section */
.left{
    display: flex;
    align-items: center;
    height: 100%;
}


/* myntra logo div */
.logo {
    width: 75px;
    height: 70px;
    background: url("myntra1.webp") no-repeat center center/cover;
    margin-left: 25px;
}



/* header left content */
.left-content ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    /* padding: 0 5px; */
}
.left-content ul li{
    width: 80px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(60 50 50);
    padding: 10px 0;
    /* position: relative; */
}
.left-content ul .fourth{
    width: 150px;
}
.left-content li:hover{
    border: 2px solid black;
    background-color: rgb(60 50 50);
    color: white;
    border-radius: 50px;
    padding: 10px 0;
    opacity: 0.2;
}


/* header right section */

.right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* right's search */
.right input{
    width: 550px;
    height: 60%;
    font-size: 0.85rem;
    padding-left: 10px;
    margin: 0 40px;
    margin-left: 60px;
    border: none;
    background-color: #f4f1f1;
    border-radius: 8px;
}

/* right side's content */
.random{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-content{
    margin-right: 20px;  
}
.right-content-div{
    text-align: center;
}
.right-content-div p{
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(60 50 50);
}




/* main box1 */
.main-box1 {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

}

/* content part1 */
.part1 {
    width: 100%;
    height: 200px;
    background: url("cp1.png") no-repeat center center/contain;
}

/* content part1 */
.part2 {
    width: 100%;
    height: 365px;
    margin-top: 30px;
    background: url("cropped_pic_2.jpg") no-repeat center center/cover;
}

/* main box2 section */
.main-para{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(60 50 50);
    height: 50px;
    padding-top: 40px;
    padding-left: 40px;
}

.box2-part1-m-div{
    width: 100%;
    height: 300px;
    display: flex;
}
.pic-box{
    width: 16.7%;
    height: 100%;
    /* margin: 0 1.5%; */
    /* border: 1px solid red; */
}
.pic {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 78%;
    /* border: 2px solid #f4f1f1; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .pic-box1, .pic-box2, .pic-box4{
    width: 15%;
    padding-left: 60px;
}
.pic-box1 p, .pic-box2 p, .pic-box4 p{
    position: relative;
    right: 50px;
} */
.cloth-type{
    font-family: "Baloo Bhai 2", serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(60 50 50);
    padding-left: 15px;
    padding-top: 5px;
}
.offers{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    padding-left: 15px;
    /* padding-bottom: 5px; */
}



/* box2-part2 */
.box2-part2{
    width: 100%;
}

.box2-part2-text{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(60 50 50);
    height: 50px;
    padding-top: 40px;
    padding-left: 40px;
}

.box2-part2-pic-box{
    width:100%;
    height: 350px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.box{
    width: 16.7%;
    height: 100%;
    /* border: 1px solid blue; */
}

.image{
    width: 100%;
    height: 85%;
    background-repeat: no-repeat;
    background-size: cover;
}
.text1{
    font-family: "Baloo Bhai 2", serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(60 50 50);
    padding-left: 15px;
    padding-top: 5px;
}
.text2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
    color: black;
    padding-left: 15px;
}



/* space div */
.space{
    height: 40px;
}


/* remaining-boxes */
.remaining-boxes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    /* position: relative; */
}
.singles{
    width: 16%;
    height: 350px;
    margin: 1% 2%;
    position: relative;
    display: flex;
    justify-content: center;

}
.singles::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.text-box{
    width: 94%;
    height: 29%;
    background: url("texturedbrown.webp") no-repeat center center/cover;
    z-index: 2;
    position: absolute;
    bottom: 8px;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text-box p{
    color: white;
    font-family: "Baloo Bhai 2", serif;
}

footer{
    margin: 20px;
}

/* footer-content */
.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    /* margin: 20px; */
}

.footer-content p{
    font-size: 1rem;
    color: black;
    opacity: 0.7;
    margin-bottom: 10px;
}

h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(60 50 50);
    margin: 18px 0px;
    padding-top: 20px;
}

.part43{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logos{
    width: 60px;
    height: 20px;
    padding: 20px;
    margin: 10px;
}

.sites-icon{
    position: relative;
    left: 30px;
    font-size: 1.5rem;
}
.sites-icon i{
    margin: 20px 5px;
    color: rgb(60 50 50);
    opacity: 0.6;
}
.foot-panel2{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: column;
    margin-left: 9%;
}
.foot-panel2 p{
    font-size: 1rem;
    color: black;
    opacity: 0.7;
    margin-bottom: 10px;
    /* text-align: center; */
}





